body{
    font-size: 20px;
    color: aliceblue;
    text-align: center ;
    /*This is our body inside all tag cover this css ones using
    first css is using our text sixe increse on this 20px
    next css on our text align the center lines used*/
}

#block1{
    width: 50%;
    height: 400px;
    float: left;
    background-color: aqua;
    /*the block1 mean on the div tag in use this css width is 50% 
    height on 400px the float using this tag assign on the left side 
    that backgroung color on aqua */
}
#block2{
    width: 50%;
    height: 400px;
    float: right;
    background-color: blueviolet;
      /*the block2 mean on the div tag in use this css width is 50% 
    height on 400px the float using this tag assign on the right side 
    that backgroung color on blueviolet */
}


#block3{
  width: 100%;
  height: 100px;
  background-color: #111;
  clear: both;
      /*the block3 mean on the div tag in use this css width is 100% 
    height on 100px the backgroung color on black then it's using the clear property 
    you may well know the float is occubied on upcomig blocks so we will first clear on 
    both upper float properties an you not clear them both not visual our next block 
    because the float give sum trouble so you use css clear:both; property*/
}
